#wd-assignments-editor{
    min-width: 672px;
    max-width: 700px;
    margin: auto;
}
@media (max-width: 766px) {
    #wd-assignments-editor{
        position: relative;
        top: 75px;
        padding: 10px;
        padding-right: 20px;
    }
}